@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
h1 {
    font-family: 'futurachapro';
    font-size: 60px;
}

h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

p,
a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.container {
    padding: 1% 2%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.subh {
    margin: -12% 0 -1% -1%;
}

.logo {
    padding-top: 3%;
    display: flex;
    flex-grow: 3;
}

#logo-img {
    height: 5em;
    opacity: 0.3;
    padding-top: 1%;
}

.info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.social {
    float: left;
    max-width: 160px;
    margin: 3% 1% 2% 6%;
    padding-top: 16%;
}

.img {
    width: 54px;
    padding: 1% 10% 17% 40%;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.content {
    padding: 2% 0 2% 1%;
}

.headline {
    font-weight: 300;
}

.img-main{
    max-width: 100%;
}

.projects {
    padding: 1% 1% 1% 18%;
}

.tumbs {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #01b3e3;
    font-weight: 500;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #01b3e3;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tumb1 {
    padding-right: 1%;
}

.tumb2 {
    padding-right: 6%;
    padding-left: 2%;
}

.tumb3 {
    width: 300px;
    padding-right: 2%;
}

.t1 {
    width: 313px;
    padding-right: 5%;
}

.t3 {
    width: 300px;
}

.video {
    width: 300px;
    height: auto;
    padding-top: 5%;
    padding-bottom: 7%;
}

.headline-t {
    font-weight: 400;
    color: #01b3e3;
}

.tumbs {
    padding-top: 1%;
    /*
    display: flex;
    flex-wrap: wrap; */
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #01b3e3;
    padding-top: 0.8%;
    opacity: 0.6;
}

.footer p {
    padding-bottom: 1%;
}

.tumbs p {
    padding-bottom: 0.5em;
}

.tumbs a {
    float: right;
}

.button {
    background-color: white;
    color: #01b3e3;
    border: 1px solid #01b3e3;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #01b3e3;
    color: white;
}